:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --icon-color: #afb1b8;
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* buttons */
.button.primary {
  color: #ffffff;
  background-color: var(--accent-color);
  border: transparent;
  text-align: center;
  padding: 10px 32px;
  border-radius: 4px;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  border: transparent;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* section-title */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
}

/* header */

header {
  border-bottom: 1px solid #ececec;
}
/* logo */
.logo {
  display: block;
  margin-right: 93px;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo span {
  color: var(--accent-color);
}

/* site-nav */
.site-nav {
  display: flex;
}

.site-nav .list-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-list .list-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-flex {
  display: flex;
  align-items: center;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link.current {
  color: var(--accent-color);
}

.header-contact-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact-link .icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-link:hover,
.header-contact-link:hover,
.header-link:focus,
.header-contact-link:focus,
.footer-location:hover,
.footer-location:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/overlay-hero.jpg");
  margin: 0 auto;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .button {
  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

/* benefits */

.benefits.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-list .list-item {
  flex-basis: 270px;
}

.benefits .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.benefits p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.icon-container {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* servises */

.services.section {
  padding-bottom: 94px;
}

.services .section-title {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

/* team */

.team.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list > .list-item {
  flex-basis: 270px;
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .section-title {
  margin-bottom: 50px;
}

.team-card-content {
  padding: 30px 32px;
}

.team .team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
.team-function {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-networks .link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  color: var(--icon-color);
}

.social-networks .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-networks {
  display: flex;
}

.social-networks .list-item + .list-item {
  margin-left: 10px;
}

.social-networks .link:hover,
.social-networks .link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* clients */

.clients.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .section-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: block;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.clients-link .icon {
  fill: currentColor;
}

.clients-link.company-one {
  padding: 23px 65px;
}

.clients-link.company-two {
  padding: 21px 65px;
}

.clients-link.company-three {
  padding: 26px 64px;
}

.clients-link.company-four {
  padding: 26px 43px;
}

.clients-link.company-five {
  padding: 23px 54px;
}

.clients-link.company-six {
  padding: 24px 38px;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

footer .container {
  display: flex;
  align-items: start;
}

footer .logo {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-logo-part {
  width: 231px;
  margin-right: 70px;
}

.footer-location {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo-part .list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-networks-part {
  margin-top: 12px;
}

.footer-social-networks-part p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-social-networks-part .social-networks .link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-networks-part .social-networks .link:hover,
.footer-social-networks-part .social-networks .link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* portfolio */

.portfolio.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.radiobutton-list {
  display: flex;
  justify-content: center;
}

.radiobutton-list {
  margin-bottom: 50px;
}

.radiobutton {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.radiobutton-list .list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-list .project-kind {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.project-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-name {
  padding: 20px 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list .list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-list .link {
  display: block;
  border: 1px solid #eeeeee;
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
